.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-profile {
  width: 18rem;
}

.card-title-text,.text-email {
  color: black;
}

.button-profile{
  margin:10px
}